extends layout

block content
    div(data-ng-controller="linksController")
        form
            div(data-ng-repeat="link in links")
                label link
                div(data-social-autocomplete="link")
            button(type="button", data-ng-click="addLink()") +

        div#main
            div(data-ng-repeat="link in links")
                a(data-ng-class="link.provider.id", data-ng-href="{{link.url}}", data-ng-bind="link.url")
