extends layout

block content
    div(data-ng-controller="linksController")
        div#main(data-g-container)
            button(data-ng-click="run()") run
            button(data-ng-click="pause()") pause
            div(data-ng-repeat="link in links")
                div.physical-element(data-ha-draggable, data-g-element="link.position", data-ng-model="link.position")
                    div.link(data-ng-class="link.provider.id", data-ng-href="{{link.url}}", data-ng-bind="link.url")
                    span.type(data-ng-bind="link.provider.id")

        form(data-ha-draggable)
            div(data-ng-repeat="link in links")
                label link
                div(data-ha-social-autocomplete="link")
            button(type="button", data-ng-click="addLink()") +

