html { height: 100% }
body {
  font: 14pt "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #EEE;
  height: 100%;
  padding: 0;
  margin: 0;
}

a {
  color: #00B7FF;
}

#container { height: 100%; }
#main {
    position: absolute;
    top: 0;
    left: 0;
}

#drawing-board {
    position: absolute;
    height: 100%;
    width: 100%;
}

#edit-form {
    background-color: black;
    height: 100%;
    color: #EEE;
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
}

.physical-element {
    height: 100px;
    width: 100px;
    background-color: orange;
    border-radius: 50px;
    position: absolute;
}

.elastic {
    height: 10px;
    width: 10px;
    background-color: red;
}
