body {
  font: 14pt "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #EEE;
}

a {
  color: #00B7FF;
}

#main {
    position: relative;
}
.physical-element {
    position: absolute;
}
